body
{
    font-family: 'montserrat'
}
.carousel .items
{
    position: relative;
}
.carousel .items .img-fluid 
{
    height: 550px !important;
}
.carousel .content
{
    border: gray solid 1px;
    margin: 15px;
    padding: 10px;
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 50px;
}
.carousel .content:hover
{
    background-color: aliceblue;
    transition: 1s;
}
/*---------------------------------End of first section----------------------------------------------*/
.HealthCare 
{
    position: relative;
    text-align: center;
    cursor: pointer; 
}
.HealthCare .img-fluid
{
    height: 250px;
}
.HealthCare .details 
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(34, 34, 34, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.HealthCare .details .text
{
    border: solid azure 1px;
    padding: 10px;  
}
.HealthCare .details .text a
{
    color: azure;
    text-decoration: none;
}

@media (max-width: 991px)
{
    .carousel .content h5
    {
        font-size: 18px;  
    }
    .title h1
    {
        font-size: 28px;
    }
    .HealthCare .img-fluid
    {
        width: 65%;
        height: 200px;
        margin-bottom: 15px;
    }
    .HealthCare .details .text a h5
    {
        font-size: 18px;
    }

    
}

footer
{
    margin-top: 25px;
    background-color: lightgray
}